# CONNECTION STRING DO BANCO DE DADOS
DATABASE_URL="mysql://seu_usuario:sua_senha@localhost:3306/protocolab_db"

# PORTA DO SERVIDOR EXPRESS
PORT=3000

# ORIGENS PERMITIDAS CORS
ALLOWED_ORIGINS=http://localhost:3000, http://localhost:5173


# CONFIGURAÇÕES DO JWT
JWT_ACCESS_SECRET="sua_chave_secreta_acesso"
JWT_REFRESH_SECRET="sua_chave_secreta_refresh"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"